body {
    background-color: var(--verde-escuro);
    color: var(--bege);
    line-height: 1.6;
    padding: 20px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 40px 0;
}

.cor-code {
   font-size: 2 rem;
    font-weight: 70;
    color: var(--laranja);
    text-transform: uppercase;
    letter-spacing: -1px;
}

.cor-lab{
    font-size: 2.5rem;
    font-weight: 300;
    color: var(--bege);
}

.barra-pesquisa {
    display: flex;
    background: rgba(255, 255, 255, 0.05); 
    border: 1px solid rgba(216, 201, 167, 0.3); 
    border-radius: 50px; 
    padding: 5px 5px 5px 20px;
    width: 100%;
    max-width: 500px;
    transition: all 0.3s ease;
}

.barra-pesquisa:focus-within {
    background: rgba(255, 255, 255, 0.1);
    border-color: var(--laranja);
}

.barra-pesquisa input {
    background: transparent;
    border: none;
    color: var(--gelo);
    flex: 1;
    outline: none;
    font-size: 1rem;
}

.barra-pesquisa button {
    background-color: var(--laranja);
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
    transition: transform 0.2s;
}

.barra-pesquisa button:hover {
    transform: scale(1.05);
}

.search-label {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-right: 10px;
}

.search-label svg {
    width: 20px;
    height: 20px;
    stroke: var(--bege); 
}


#search-input {
    background: transparent;
    border: none;
    outline: none;
    color: var(--gelo);
    flex: 1;
    font-size: 1rem;
}


#search-input::placeholder {
    color: var(--bege); 
    opacity: 0.7;       
}

.feed {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    width: 100%;
    padding: 0 20px; 
}

.post-card {
    background: rgba(255, 255, 255, 0.03); 
    border: 1px solid transparent; 
    padding: 30px;
    border-radius: 15px;
    position: relative;
    transition: all 0.3s ease;
}


.post-card:hover {
    border-color: var(--bege); 
    background: rgba(255, 255, 255, 0.07);
    transform: translateY(-5px); 
}

.card-date {
    color: var(--bege); 
    font-size: 0.8rem;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.card-title {
    color: var(--gelo);
    margin-bottom: 15px;
    font-size: 1.8rem;
}

.card-excerpt p {
    color: rgba(238, 238, 238, 0.8); 
    margin-bottom: 20px;
}

.card-link {
    color: var(--laranja);
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9rem;
}

.card-link:hover {
    text-decoration: underline;
}

.btn-favorite {
    position: absolute;
    top: 25px;
    right: 25px;
    background: none;
    border: none;
    cursor: pointer;
}

.btn-favorite svg {
    width: 24px;
    stroke: var(--bege); 
    fill: none;
    stroke-width: 2;
    transition: all 0.3s ease;
}

.btn-favorite.is-active svg {
    stroke: var(--rosa-favorito);
    fill: var(--rosa-favorito);
}